<h1>Ofertas</h1>

{{#each filteredOrders}}
<img src="{{myProducts.[0].imageUrl}}" alt="product-image" width="200">
<h2>{{myUser.name}} quer ofertar:</h2>
<h2>{{myProducts.[0].name}}</h2>
<h2>{{myProducts.[0].status}}</h2>

<br>
<img src="{{userProducts.[0].imageUrl}}" alt="product-image" width="200">
<h2>por: {{userProducts.[0].name}}</h2>
<br>

<button><a href="/{{_id}}/accept">Aceitar</a></button>
<button><a href="/{{_id}}/decline">Recusar</a></button>
{{/each}}