<div class="topnav" id="myTopnav">
    <div class="logo">
        <img src="https://res.cloudinary.com/escambalapp/image/upload/v1570636194/escambal-app-folder/css.images/Copy_of_Untitled_l1ynt5.png" alt="logo">
    </div>
        <a href="/logout">Logout</a>
        <a href="/my-profile">Meu perfil</a>
        <a href="/about">Nossa história</a>
        <a href="/home/products">Nossos produtos</a>
        <a href="/home" class="active">Página inicial</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
</div>
<div class="my-products-page">
    <div class="add-product-tag">
        <h1><a href="/my-products/insert-product">Adicione um produto</a></h1>
    </div>

    <div class="my-products-container">

        {{#each filteredProducts}}
        <div class="products-container">
            <div class="product-card">
                <img src="{{imageUrl}}" alt="product-image" width="120" height="120">
                <h1><a href="/my-products/{{_id}}" class="product-card-text">{{name}}</a></h1>
            {{!-- <p>{{description}}</p> --}}
                <p  class="product-card-text">{{category}}</p>
                <p  class="product-card-text">Qtd:{{quantity}}</p>
            </div>

        <button><a href="/my-products/{{_id}}/edit" />Editar</a></button>
        <button><a href="/my-products/{{_id}}/delete" />Deletar</a></button>
        </div>
        {{/each}}
    </div>
</div>