<div class="my-navbar" id="myTopnav">

    <div class="logo">
        <a href="/"><img
                src="https://res.cloudinary.com/escambalapp/image/upload/v1570636194/escambal-app-folder/css.images/Copy_of_Untitled_l1ynt5.png"
                alt="logo"></a>
    </div>
    <div class="my-navbar__items">
        <a href="/home" class="active">Página inicial</a>
        <a href="/my-profile">Meu perfil</a>
        <a href="/home/about">Nossa história</a>
        <a href="/home/products">Descubra produtos</a>
        <a href="/logout">Logout</a>
    </div>
    <div class="my-navbar__toggle">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
    </div>
</div>

<form action="/order" method="POST" class="order__form">

    <h2>Produto escolhido</h2>

    <div class="card">
        <img class="card__image" src="{{productOrder.imageUrl}}" alt="{{productOrder.name}}" height="200" width="200">
        <div class="card__body">
            <span class="card__title">{{productOrder.name}}</span>
            <input type="hidden" name="userProducts" id="userProducts" value="{{productOrder._id}}">
            <input type="hidden" name="userId" id="userId" value="{{productOrder.user}}">
        </div>
    </div>

    <h2>Meus produtos</h2>
    <div class="order__my-products">
        {{#each filteredProducts}}

        <div class="card">
            <img class="card__image" src="{{imageUrl}}" alt="{{name}}" height="200" width="200">
            <div class="card__body order__card">
                <span class="card__title">{{name}}</span>
                <input type="checkbox" name="{{_id}}">
            </div>
        </div>
        {{/each}}

    </div>

    <input type="hidden" name="myUser" value="{{myUser}}">
    <input type="hidden" name="status" value="{{status}}">
    <input type="hidden" name="accept" value="{{accept}}">


    <button type="submit" class="btn btn-secondary btn-lg btn-block">Escambal!</button>

</form>