<img src="{{product.imageUrl}}" alt="product-image" width="200">
<h1>{{product.name}}</h1>
<p>{{product.description}}</p>
<p>{{product.category}}</p>
<p>{{product.quantity}}</p>
<p>{{_doc.name}}</p>
<p>{{_doc.email}}</p>

<p>{{_doc.phoneNumber}}</p>
<a href="/user/{{_doc._id}}">Informações do usuário</a>

<button><a href="/order/{{product._id}}">Quero Escambar!</a></button>