<div class="topnav" id="myTopnav">

    <div class="logo">
    <a href="/"><img src="https://res.cloudinary.com/escambalapp/image/upload/v1570636194/escambal-app-folder/css.images/Copy_of_Untitled_l1ynt5.png" alt="logo"></a>
        </div>
    <div>
        <a href="#" class="" data-toggle="modal" data-target="#meuModal">Login</a>
            <div id="meuModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                        <!-- Conteúdo do modal-->
                        <div class="modal-content">

                        <!-- Cabeçalho do modal -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Corpo do modal -->
                        <div class="modal-body">
                            <form action="/login" method="POST">
                                <input type="text" name="email" placeholder="Email">
                                <br>
                                <input type="password" name="password" placeholder="Senha">
                                <br>
                                    {{#if errorMessage}}
                                <p>{{errorMessage}}</p>
                                    {{/if}}
                                <button class="crazy-button" type="submit">Entrar</button>
                            </form>
                        </div>
                        <!-- Rodapé do modal-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
                <a href="/signup" class="active">Crie sua conta!</a>
                <a href="/about">Nossa história</a>
                <a href="/products">Nossos produtos</a>
                <a href="/" class="active">Página inicial</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
        </div>
</div>

{{!-- {{#each products}}
<img src="{{imageUrl}}" alt="product-image" width="200">

<h1><a href="/products/{{_id}}">{{name}}</a></h1>
<p>{{description}}</p>
<p>{{category}}</p>
<p>{{quantity}}</p>

{{/each}} --}}

 <div class="all-products-container">
    {{#each products}}
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{imageUrl}}" alt="Card image cap" height="200" width="200">
        <div class="card-body">
                    <h1><a href="/products/{{_id}}" class="all-products-card-text">{{name}}</a></h1>
                    <p class="all-products-card-text">{{description}}</p>
                    <p class="all-products-card-text">{{category}}</p>
                    <p class="all-products-card-text">{{quantity}}</p>
        </div>
        </div>
        {{/each}}