<div class="nav-bar">
  <a class="active" href="/home">ESCAMBAL</a>
  <a href="/home">Página inicial</a>
  <a href="/home/products">Produtos</a>
  <a href="/about">Conheça nossa história</a>
</div>
<form class="form" action="/products" method="POST">
    {{!-- <input type="text" name="category" placeholder="Filtre por categorias"> --}}
    <select name="category" id="category">
        <option value="Eletrônicos e materiais de escritório">Eletrônicos e materiais de escritório</option>
        <option value="Esporte e Lazer">Esporte e Lazer</option>
        <option value="Vestuário e Acessórios">Vestuário e Acessórios</option>
        <option value="Casa, Cozinha e Jardim">Casa, Cozinha e Jardim</option>
        <option value="Beleza e Cuidados pessoais">Beleza e Cuidados pessoais</option>
        <option value="Outros">Outros</option>
    </select>
    <button type="submit">Filtrar</button>
</form>


{{#each filteredProducts}}
<img src="{{imageUrl}}" alt="product-image" width="200">

<h1><a href="/products/{{_id}}">{{name}}</a></h1>
<p>{{description}}</p>
<p>{{category}}</p>
<p>{{quantity}}</p>

<div id="meuModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Conteúdo do modal-->
        <div class="modal-content">

            <!-- Cabeçalho do modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Corpo do modal -->
            <div class="modal-body">
                <form action="/login" method="POST">
                    <input type="text" name="email" placeholder="Email">
                    <br>
                    <input type="password" name="password" placeholder="Senha">
                    <br>
                    {{#if errorMessage}}
                    <p>{{errorMessage}}</p>
                    {{/if}}
                    <button class="crazy-button" type="submit">Entrar</button>
                </form>
            </div>

            <!-- Rodapé do modal-->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

{{/each}}