<div class="my-navbar" id="myTopnav">

    <div class="logo">
        <a href="/"><img
                src="https://res.cloudinary.com/escambalapp/image/upload/v1570636194/escambal-app-folder/css.images/Copy_of_Untitled_l1ynt5.png"
                alt="logo"></a>
    </div>
    <div class="my-navbar__items">
        <a href="/" class="active">Página inicial</a>
        <a href="/about" class="active">Nossa história</a>
        <a href="/products">Nossos produtos</a>
        <a href="/signup">Crie sua conta!</a>
        <a href="/login">Login</a>
    </div>
    <div class="my-navbar__toggle">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
    </div>
</div>

<div>

    <form class="form products__filter" action="/products" method="POST">
        <select name="category" id="category" class="form-control">
            <option value="Eletrônicos e materiais de escritório">Eletrônicos e materiais de escritório</option>
            <option value="Esporte e Lazer">Esporte e Lazer</option>
            <option value="Vestuário e Acessórios">Vestuário e Acessórios</option>
            <option value="Casa, Cozinha e Jardim">Casa, Cozinha e Jardim</option>
            <option value="Beleza e Cuidados pessoais">Beleza e Cuidados pessoais</option>
            <option value="Outros">Outros</option>
        </select>
        <button type="submit" class="btn btn-secondary">Filtrar</button>
    </form>


    <div class="all-products__container">
        {{#each filteredProducts}}
        <div class="card">
            <img class="card__image" src="{{imageUrl}}" alt="{{name}}" height="200" width="200">
            <div class="card__body">
                <h1 class="card__title"><a href="/products/{{_id}}" class="card__text">{{name}}</a></h1>
                <p class="card__text card__description">{{description}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>